@import url(http://fonts.googleapis.com/css?family=Roboto+Slab&subset=cyrillic-ext,latin);

body {
    background-image: url(../images/wood-texture-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: 'Roboto Slab', Verdana, helvetica, sans-serif;
    font-size: 14px;
    
    overflow: hidden;
}

.letter {
    background-image: url(../images/letter.png);
    background-repeat: no-repeat;
    height: 356px;
    position: absolute;
    width: 500px;
}

.letter .receiver {
    position: absolute;
    left: 75px;
    line-height: 23px;
    max-width: 180px;
    top: 173px;
    word-wrap: break-word;
}

.letter ul {
    margin: 0;
    padding: 0;
}

.letter ul li {
    list-style: none;
}