@font-face {
  font-family: Myriad Pro;
  src: local("Myriad Pro"),
       local("Myriad_Pro"),
       url(http://webcolors.org.ua/myriad_pro.otf) format("opentype");
}
body {font-family: Myriad Pro, Helvetica, sans-serif; background:url(bg.gif); color:#333333;}
h1 {font-size:20px;}
h2 {color:#666666; font-size:20px;}
h2:hover {color:#333333;}
p {
	font-size:14px;
	width:350px;
	text-align:left;
}
sup {font-size:10px; color:#666666; padding:2px;}
a {color:#CC0000; text-decoration:none;}
a:visited {color:#CC0000; text-decoration:none;}
.code {color:#CC0000; font-style:italic;}
#more {padding-bottom: 10px;}
#color {
	width:60px;
	height:60px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	float:left;
	margin:2px;
}
#colors {width:385px;}
#popup {
	font-family:Arial, Helvetica, sans-serif;
	background: #CCCCCC;
	text-align:center;
	font-size:8px;
	padding:2px;
	width:60px;
	height:60px;
	border-radius: 34px;
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	-khtml-border-radius: 34px;
	opacity: 0;
	-moz-opacity: 0;
	-khtml-opacity: 0;
	filter: alpha(opacity=0);
	cursor:pointer;
	margin-left:-2px;
	margin-top:-2px;
}
#popup:hover {
	opacity: 1;	
	-moz-opacity: 1;
	-khtml-opacity: 1;
	filter: alpha(opacity=100);
}
/*

* { outline: 1px dotted red; }
* * { outline: 1px dotted green; }
* * * { outline: 1px dotted orange; }
* * * * { outline: 1px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; }

*/